/* Layout style */
[class^="col-"] {
  height: 30px;
  background-color: #08154A;
}

.white{
  background-color: white;
}

.red{
  background-color: #D51635;
}

.h2{
  padding: 20px 0px;
  text-align: center;
}
