/* Layout style */
[class^="col-"] {
  height: 30px;
  background-color: #08154A;
}

section{
  padding: 20px 0px;
}

.white{
  background-color: white;
}

.red{
  background-color: #D51635;
}

.green{
  background-color: #023827;
}

.gred{
  background-color: #891717;
}

.h2{
  padding: 20px 0px;
  text-align: center;
}

img{
  width: 50px;
  position: relative;
}
